<section data-controller="modal" class="pt-24 xl:px-20 lg:px-12 md:px-6 sm:px-4">
  <div class="flex justify-center xl:w-4/5 lg:w-5/6 md:w-5/6 sm:w-full">
    <div class="flex flex-col justify-center items-center">
      <% @users.each do |user| %>
        <% user.posts.each do |post| %>
          <div class="xl:w-2/3 lg:w-2/3 md:w-2/3 sm:w-full h-1/5 bg-white border border-gray-300 mb-6 flex flex-col overflow-hidden">
            <div class="flex items-center py-3 px-4">
              <div class="mr-3">
                <% if user.url != nil %>
                  <%= image_tag user.url, class: "rounded-full w-8" %>
                <% else %>
                  <%= image_tag user.gravatar_url(size: 240), class: "rounded-full w-8" %>
                <% end %>
              </div>
              <div class="flex justify-between w-full">
                <%= link_to profile_path(user.username) do %>
                  <p class="text-sm font-medium text-gray-800"><%= user.username %></p>
                <% end %>
              </div>
            </div>
            <div class="w-full h-full bg-gray-200">
              <% if current_user.id == user.id %>
                <%= link_to user_post_path(post.user, post) do %>
                  <%= image_tag post.post_url, alt: "", class: "w-full h-full object-cover" %>
                <% end %>
              <% else %>
                <%= image_tag post.post_url, alt: "", class: "w-full h-full object-cover" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="xl:flex lg:flex md:flex sm:hidden flex-col fixed -right-24 w-2/5 items-start">
      <div class="flex items-center"> 
        <div class="mr-3">
          <% if current_user.url != nil %>
            <%= image_tag current_user.url, class: "rounded-full w-14 bg-gray" %>
          <% else %>
            <%= image_tag current_user.gravatar_url(size: 240), class: "rounded-full w-14 bg-gray" %>
          <% end %>
        </div>
        <div>
          <p class="text-sm font-medium text-gray-800">
            <%= link_to current_user.username, profile_path(current_user.username) %>
          </p>
          <p class="text-sm font-extralight text-gray-600"><%= current_user.full_name %></p>
        </div>
      </div>
      <div class="w-auto max-w-2xl flex" id="homeFooter"> 
        <%= render "layouts/footer" %>
      </div>
    </div>
  </div>
</section>
<div class="xl:hidden lg:hidden md:hidden sm:block px-2">
  <%= render 'layouts/footer' %>
</div>