<div class="bg-white xl:w-2/4 lg:w-3/4 md:w-3/4 sm:w-96 h-auto rounded shadow-xl relative" id="modal-post">
  <div class="py-4">
    <i class="fa fa-times float-right cursor-pointer mr-3" data-action="click->modal#toggleModal"></i>
  </div>
  <div class="h-auto">
    <span id="messageBlock"></span>
    <div class="xl:px-4 lg:px-4 md:px-4 sm:px-0.5 py-3 my-8">
      <%= form_with(model: [@user, @post], local: true, autofocus: false) do |f| %>
        <div class="flex pb-8">
          <aside class="w-1/4 xl:px-8 lg:px-8 md:px-8 sm:px-2 text-right">
            <%= f.label "Url", class: "text-base font-medium" %>
          </aside>
          <div>
            <%= f.text_field :post_url, autofocus: true, class: "inputField py-0.5 px-2 border   border-gray-300 rounded w-screen max-w-sm focus:ring-2 focus:ring-black" %>
          </div>
        </div>

        <div class="flex pb-8">
          <aside class="w-1/4 xl:px-8 lg:px-8 md:px-8 sm:px-2 text-right">
            <%= f.label "Description", class: "text-base font-medium" %>
          </aside>
          <div>
            <%= f.text_area :desc, rows: "2", autofocus: true, class: "inputField py-0.5 px-2 border border-gray-300 rounded focus:ring-2 focus:ring-black w-screen max-w-sm" %>
          </div>
        </div>

        <div class="flex justify-center">
          <%= f.submit "Create post", class: "py-1.5 px-4 rounded text-center text-sm bg-blue-400 font-bold text-white cursor-pointer" %>
        </div>

      <% end %>
    </div>
  </div>
</div>